@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom , #0f0c29,#302b63,#24243e);

}

.main{
    width: 350px;
    height: 500px;
    background: red;
    overflow: hidden;
    background: url("../images/landscape.jpg") no-repeat center / cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
 
}
a{
    margin-bottom: 30%;
    margin-left: 10%;
    color: #000;
    }


#chk {
    display: none;
}

.signup{
    position: relative;
    width: 100%;
    height: 100%;
}

label{
    color: #fff;
    font-size: 2.3em;
    display: flex;
    justify-content: center;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}


input{
    width: 60%;
    height: 20px;
    background: #e0dede ;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
}


button{
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

button:hover{
    background:#6d44b8 ;
}

.login{
    height: 460px;
    background: #eee ;
    border-radius: 60%/10%;
    transform: translateY(-180px);
    transition: .4s  ease-in-out;
}

.login label{
    color: #573b8a;
    transform:  scale(.6);

}

#chk:checked ~ .login{
    transform: translateY(-500px);
}

#chk:checked ~ .login label {
    transform: scale(1);
}

#chk:checked ~ .signup{
 transform: scale(.6);
}

h3{
    margin-left: 10px;
    font-weight: 500;
    font-size: large;
    font-family: 'Montserrat', sans-serif;


}

#alerta{
    
    height: 200px;
    width: 350px;
    background-color: #fff;
    border-radius: 5px;
    z-index: 5;
    display: none;
    font-family: 'Montserrat', sans-serif;

}
#button{
    margin-right: 10px;
    margin-top: 150px;
 height: 20%;
 width: 50% ; 
}

@media (min-width: 1100px){
    .main{
        width: 500px;
        height: 650px;
        background: red;
        overflow: hidden;
        background: url("../images/landscape.jpg") no-repeat center / cover;
        border-radius: 10px;
        box-shadow: 5px 20px 50px #000;
     
    }
    label{
        color: #fff;
        font-size: 4.3em;
        display: flex;
        justify-content: center;
        margin: 60px;
        font-weight: bold;
        cursor: pointer;
        transition: .5s ease-in-out;
    }
    input{
        width: 70%;
        height: 30px;
        background: #e0dede ;
        justify-content: center;
        display: flex;
        margin: 30px auto;
        padding: 10px;
        border: none;
        outline: none;
    }
    button{
        width: 60%;
        height: 50px;
        margin: 30px auto;
        justify-content: center;
        display: block;
        color: #fff;
        background: #573b8a;
        font-size: 2em;
        font-weight: bold;
        margin-top: 60px;
        outline: none;
        border: none;
        border-radius: 5px;
        transition: .2s ease-in;
        cursor: pointer;
    }
    .login{
        height: 650px;
        background: #eee ;
        border-radius: 60%/10%;
        transform: translateY(-230px);
        transition: .4s  ease-in-out;
    }
    #chk:checked ~ .login{
        transform: translateY(-700px);
    }
    
    
    

}









