/* Estilo para el encabezado del formulario */

h1 {
    text-align: center;
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

/* Estilo para el contenedor del formulario */
form {
    width: 60%;
    margin: 0 auto;
    padding: 30px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Estilo para las etiquetas de los campos */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

/* Estilo para los campos de entrada y selección */
input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para los radio buttons y casillas de verificación */
input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

/* Estilo para el botón de envío */
input[type="submit"]{
    background-color: #ff6600;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

/* Estilo para el botón de envío al pasar el mouse */
input[type="submit"]:hover {
    background-color: #e65100;
}
